body {
	overflow-x: hidden;
}

h1, h2 {
	margin-top: 0;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	color: #2D2D2D;
}
h1 {
	/* text-align: center; */
	font-weight: 700;
	font-size: 80px;
	margin-bottom: 20px;
}
h2 {
	font-weight: 600;
	font-size: 50px;
}
p {
	font-family: Lato, Helvetica, Calibri, Arial, sans-serif;
	font-weight: 400;
	font-size: 40px;
}
button {
	color: white;
	font-weight: 700;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 40px;
	padding: 15px;

	background: #F2B210;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.1);
	border: 0;
	display: block;
	transition-duration: .3s;
}
button:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 50px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.1);
}
button:active {
	transition-duration: .1s;
	transform: translateY(5px);
	box-shadow: none;
}
button:focus {
	outline: 0;
}
a.button {
	text-decoration: none;
	display: block;
	margin-right: 20px;
}

.row {
	display: flex;
	align-items: center;
}
.content {
	margin: 0 100px;
}
.content img {
	z-index: -2;
}
.background {
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;

	transform-origin: 0;
}
.with-background * {
	color: white;
}
.with-background p {
	font-weight: 700;
}
body > * {
	position: relative;
}
.content img {
	height: 800px;
}

.header h1 {
	font-size: 80px;
}
.header img {
	margin: 50px;
	height: 150px;
}
.header .content {
	padding-top: 100px;
	padding-bottom: 100px;
}
.header .background {
	background: linear-gradient(158deg, rgba(89,171,233,1) 24%, rgba(68,225,183,1) 100%);
	transform: skewY(-4deg);
	height: 120%;
}

.makeathons {
	padding-top: 50px;
}
.makeathons .text {
	margin-left: 70px;
	transform: translateY(-10px);
}

.meetup .content {
	padding-top: 50px;
}
.meetup .background {
	background: linear-gradient(50deg, rgba(89,171,233,1) 20%, rgba(68,225,183,1) 100%);
	transform: skewY(-2deg);
	height: 120%;
}

.clubs .row {
	justify-content: space-between;
}
.clubs .text {
	margin-right: 30px;
	transform: translateY(50px);
}
.clubs button {
	margin-bottom: 15px;
}

.footer {
	position: unset;
}
.footer .content {
	padding-top: 75px;
	float: right;
}
.footer .background {
	height: 150px;
}
.footer .content * {
	display: inline;
}
.footer p {
	font-size: 20px;
	margin-right: 10px;
}
.footer a {
	display: inline;
}
.footer .background {
	background: linear-gradient(30deg, rgba(89,171,233,1) 0%, rgba(68,225,183,1) 100%);
}

@media screen and (max-width: 1818px) {
	.content img {
		height: 700px;
		height: inherit;
	}
}

@media screen and (max-width: 1468px) {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 40px;
	}
	p {
		font-size: 30px;
	}
	button {
		font-size: 30px;
	}
}

@media screen and (max-width: 1286px) {
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
	button {
		font-size: 20px;
	}
}

@media screen and (max-width: 1064px) {
	.header .background {
		height: 110%;
	}
	.makeathons .text {
		transform: translateY(-30px);
	}
}

@media screen and (max-width: 990px) {
	.content img {
		display: none;
	}
	.makeathons .text {
		margin-left: 50px;
	}
	.clubs .text {
		margin-left: 50px;
	}
	a.button {
		display: inline-block;
	}
	.content {
		margin: 0 30px;
	}
}

@media screen and (max-width: 923px) {
	.header img {
		width: 300px;
		margin: 30px;
	}
	.header h1 {
		font-size: 60px;
	}
	.header .content {
		padding-top: 20px;
	}
	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 412px) {
	.clubs .text {
		margin-left: 0;
	}
	.makeathons .text {
		margin-left: 0;
	}
}
